.fav h1 {
    padding: 20px 0;
    text-align: center;
    color: var(--letter-color);
}

.tileContainer {
    width: 100%;
}

.fav button {
    margin: 10px 30px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--primary-letter-color);
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;

    transition: all .3s ease;
}