.sectionRecent{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    align-items: center;
    position: relative;
}

.btn-refresh{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    right: 5%;
    color: white;
    width: 50px;
    height: 50px;
}

.cards {
    width: 95%;
    display: flex;
    margin-left: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    height: 50%;
    padding: 10px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: rgb(255, 255, 255);
}

.imgContainer {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    box-shadow: 0 30px 30px -6px black;
    transition: all 0.5s ease;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    margin-top: 5px;
}

.card h3,
.card h5 {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.card h3 {
    font-size: 13px;
}

.card h5 {
    font-size: 12px;
}

.card:hover {
    color: var(--letter-color);
    background: var(--hover-bg-color);
}

.card:hover img {
    transform: scale(1.1);
}

.playAllRecent {
    position: absolute;
    margin: 0;
    right: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white; 
    cursor: pointer;
    background-color:var(--hover-bg-color);
}

.playAllRecent p{
    margin-left: 10px;
    font-family: 'Poppins';
}