body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6ba3c4; /* Cambia el color de fondo aquí aqui */
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;

}

p {
    margin-bottom: 1.6em;
    text-align: justify;
}

.container {
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 1rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 1px; /* Ajusta el tamaño de la imagen del logotipo según sea necesario */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}

.logo h1 {
    font-size: 1.2rem; /* Tamaño del texto "SpottPlay" */
    margin: 0; /* Elimina los márgenes predeterminados */
}
.logo {
    letter-spacing: 2px;
    font-size: 1.3em;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover {
    background: #4a4a4a;
}

.main {
    padding-top: 13rem;
}
