<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Acerca de</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="stylesheet" type="text/css" href="../css/acercaDeNosotros.css">

    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
               
                <h1>SpottPlay</h1>
                <nav class="navigation">
                    <ul>
                        <li><a class="pagprinc" href="..\.\index.php">Atras</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <h1>Acerca de Nosotros</h1>
                <p>Bienvenidos a SpottPlay, el destino definitivo para los amantes de la música.</p>
                <p>En SpottPlay, estamos apasionados por la música en todas sus formas y géneros. Nuestra misión es brindarte una experiencia musical excepcional y ayudarte a descubrir nuevas melodías, artistas y momentos inolvidables.</p>
        
                <h2>Nuestra Historia</h2>
                <p>Fundada en 2023, nuestra plataforma nació de la pasión compartida por la música de un grupo de amigos. Nuestra dedicación a la música nunca ha cambiado. Nos enorgullecemos de ser un espacio donde los aficionados y los artistas se encuentran, se inspiran y se conectan a través de la música.</p>
        
                <h2>Lo Que Ofrecemos</h2>
                <p>En SpottPlay, encontrarás una amplia gama de recursos musicales:</p>
                <ul>
                    <li>Exploración Musical: Navega por nuestro extenso catálogo de canciones y artistas. Descubre música nueva y revive tus clásicos favoritos.</li>
                </ul>
        
                <h2>Nuestra Visión</h2>
                <p>En SpottPlay, creemos que la música tiene el poder de unir a las personas, inspirar emociones y cambiar vidas. Queremos ser tu compañero musical de confianza en este viaje, proporcionándote herramientas y contenido de calidad para enriquecer tu experiencia musical.</p>
        
                <p>Gracias por ser parte de nuestra comunidad musical. Juntos, vamos a explorar, disfrutar y celebrar el increíble mundo de la música. Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto con nosotros.</p>
        
                <p>¡Que la música siga llenando tus días de alegría!</p>
                <p class="signature">Equipo HunterSoft<br>SpottPlay</p>

            </div>
        </main>

    </body>
</html>