<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Acerca de</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/ayuda.css" rel="stylesheet">

    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
               
                <h1>SpottPlay</h1>
                <nav class="navigation">
                    <ul>
                        <li><a class="pagprinc" href="..\.\index.php">Atras</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="container">
                
                    <h1>Centro de Ayuda de SpottPlay</h1>
                    <p>¡Bienvenido al Centro de Ayuda de SpottPlay! Estamos aquí para ayudarte a sacar el máximo provecho de nuestra plataforma y resolver cualquier pregunta o problema que puedas tener. Aquí encontrarás respuestas a las preguntas más frecuentes
                         y recursos útiles para que disfrutes de tu experiencia musical al máximo.</p>
                </li>
                <h2>Guía Rápida</h2>
                <ul>
                    <li>
                        <h3>Registro y inicio de sesión</h3>
                        <p>Aprende cómo crear una cuenta y acceder a tu perfil personal.</p>
                    </li>
                    <li>
                        <h3>Explora la música</h3>
                        <p>Descubre cómo buscar, navegar y encontrar tus canciones y artistas favoritos.</p>
                    </li>
                    <li>
                        <h3>Reproducción de música</h3>
                        <p>Conoce las funciones de reproducción, listas de reproducción y cómo crear tus propias listas.</p>
                    </li>
                </ul>
            </section>
    
            <section class="faq">
                <h2>Preguntas Frecuentes</h2>
                <ul>
                    <li>
                        <h3>¿Cómo puedo actualizar mi información de perfil?</h3>
                        <p>Para actualizar tu información de perfil, inicia sesión en tu cuenta y ve a la sección "Mi Perfil". Desde allí, podrás editar tu nombre, foto de perfil, información de contacto y preferencias.</p>
                    </li>
                    <li>
                        <h3>¿Cómo puedo crear una lista de reproducción?</h3>
                        <p>Para crear una lista de reproducción, navega a tu biblioteca de música y selecciona la opción "Crear nueva lista de reproducción". Luego, simplemente agrega las canciones que desees y personaliza el nombre y la descripción de la lista.</p>
                        <p>¡Estamos aquí para ayudarte!<br>SpottPlay</p></p>
                    </li>
                </ul>
            </section>
        </main>
    
        
    </body>
    </html>