<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Acerca de</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/politicaDePrivacidad.css" rel="stylesheet">

    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
               
                <h1>SpottPlay</h1>
                <nav class="navigation">
                    <ul>
                        <li><a class="pagprinc" href="..\.\index.php">Atras</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <h1>¿Cómo ejercer tus derechos con SpottPlay?</h1>
            
                        <h2>Acceso</h2>
                        <p>Para solicitar una copia de tus datos a SpottPlay, visita la configuración de privacidad de tu cuenta. Desde allí podrás descargar automáticamente gran
                           parte de tus datos personales e informarte de cómo solicitar más información.</p>
            
                        <h2>Rectificación</h2>
                        <p>Puedes editar tus datos de usuario en "Editar perfil" en tu cuenta.</p>
            
                        <h2>Cancelación</h2>
                        <p>Puedes eliminar el contenido de audio de tu perfil seleccionando el contenido correspondiente y eligiendo la opción correspondiente. Por ejemplo, puedes
                           eliminar listas de reproducción de tu perfil o eliminar una canción de tu lista de reproducción.</p>
                <p class="signature">SpottPlay se preocupa por tu privacidad.<br>SpottPlay</p>
            </div>
        </main>

    </body>
</html>