body {
  background: linear-gradient(#29293a,#181c29 );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  width: 600px;
  border: 2px solid #ccc;
  padding: 10px;
  background: #fff;
  border-radius: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #0799B6;
}

input {
  display: block;
  border: 2px solid #616161;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

input.error1 {
  border: 2px solid red;
}


/* ERRORS */
.error-container {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 95%;
  color: red;
  font-size: 12px;
}

label {
  color: #0799b6;
  font-size: 18px;
  padding: 10px;
}

button {
  float: right;
  background: #0799B6;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

button:hover {
  opacity: 0.7;
}

.error {
  background: #f2dede;
  color: #a94442;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #d4edda;
  color: #40754c;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #fff;
}

.ca {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}

.ca:hover {
  text-decoration: underline;
}

.ca2 {
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #444;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 5px;
}

.ca2:hover {
  text-decoration: underline;
}

.home-nav a {
  padding: 10px;
  color: #f7bd65;
  text-transform: uppercase;
  text-decoration: none;
}

td{
  text-align: center;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon-dashboard{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-dashboard label{
  text-align: center;
}

.icon-dashboard a  {
  margin: auto 40px;
  padding: 10px;
  color: #f7bd65;
  text-transform: uppercase;
  text-decoration: none;
  }

.dashboard label {
  color: #f7bd65;
}

input[type="checkbox"]{
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

table{
  width:600px; 
  line-height:40px; 
  color: #fff; 
}

/* Estilo para el cuadro del checkbox */
.custom-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinear al lado izquierdo */
    margin-top: 10px;
}

.custom-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.custom-checkbox input {
     
display: none;
}

.custom-checkbox-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius:5px;
    border: 2px solid #444;
    cursor: pointer;
}

.custom-checkbox-label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s;
}
.custom-checkbox input:checked + .custom-checkbox-label:after {
  opacity: 1;
}

.custom-checkbox-label::before {
  content: '✖'; 
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 18px; 
  color: #444; 
  opacity: 0;
}

.custom-checkbox input:checked + .custom-checkbox-label::before {
  opacity: 1;
}

.show-pass-container {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: flex-start;
}

.show-pass-container * {
    margin: 0;
}

.show-pass-checkbox {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    gap: 2px;
}
