

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #214252;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box;
}
.card {
  align-items: center;
 /* position: fixed;
  /*bottom: auto;
  top: 20px; /* Ajusta la distancia desde la parte superior como desees */
  /*right: 20px; /* Ajusta la distancia desde el lado derecho como desees */
}



   .player{
      position: fixed;
      top: 10px; /* Ajusta la distancia desde la parte superior como desees */
      right: -60px; /* Ajusta la distancia desde el lado izquierdo como desees */
      height: 100vh;
      width: 350px; /* Ancho del reproductor */
      display: flex;
      flex-direction:right;
      justify-content: right; /* Alinea los elementos en una columna */
      align-items: center; /* Alinea los elementos al extremo derecho */
      
      
      z-index: 1;
       /* Margen izquierdo para evitar superposición con tarjetas */

    }
 
    .wrapper{

      border: 2px solid transparent;
      padding-top:30px;
      border-radius: 20px;
      background-color: #fbf9f9;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 400px; /* Ancho del reproductor */
      max-width: 100%; /* Máximo ancho */
      
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
    .track-art {
      margin: 25px;
      height: 200px;
      width: 200px;
      border:2px solid 	#FFFAFA;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      -moz-box-shadow: 0px 6px 5px black;
      -webkit-box-shadow: 0px 6px 5px black;
      box-shadow: 0px 6px 5px black;
      -moz-border-radius:190px;
      -webkit-border-radius:190px;
      border-radius:190px;
      }
    
    .now-playing {
    font-size: 1rem;
    } 
    
    .track-name {
    font-size: 2.5rem;
    }
    
    .track-artist {
      margin-top: 5px;
      font-size: 1.5rem;
      font-weight: normal; 
      }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    }
    .active{
        color: black;
    }
    
    
   
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 40px;
    opacity: 0.8;
    transition: opacity .2s;
   
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .vol {
      display: flex;
      justify-content: center;
      align-items: center;
      }
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #B3B3B3;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #B3B3B3;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    font-weight: normal;
    }
    
    i.fa-volume-down,
    i.fa-volume-up{
    font-size: 20px; 
    padding: 10px;
   
    }
    
    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward,
    p {
    cursor: pointer;
    }
    .randomActive{
        color: black;
    }
    .rotate {
        animation: rotation 8s infinite linear;
    }
   
    /* Ajustes para hacer las tarjetas más pequeñas y centradas */
.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se coloquen en filas en dispositivos más pequeños */
  justify-content:center;
  align-items:center;
  padding: 20px; /* Agregamos un espacio alrededor del contenedor de tarjetas */
  box-sizing: border-box;
  max-width:calc(100% - 350px); /*100%; /* Ajusta el ancho máximo según el dispositivo */
  margin: auto; /* Centra en la página */
}


.tarjeta {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px; /* Ancho máximo de la tarjeta */
  width: 100%; /* Hacer que la tarjeta ocupe todo el ancho disponible */
  margin: 10px; /* Espaciado entre las tarjetas */
  box-sizing: border-box; /* Incluimos el relleno y el borde en el ancho total */
  transition: 0.4s;
  height: 265px;
}

.tarjeta:hover {
  transform: scale(1.1);
  box-shadow: #555;
}

.tarjeta:hover .artista {
  white-space: inherit;
}

  .imagen-musica {
      width: 100%;
      max-height: 190px;
  }

  .titulo {
      font-weight: bold;
      margin: 10px 0;
  }

  .artista {
      color: #777;
      white-space: nowrap;
      overflow-x: hidden;
  }

  .buscador {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;  
  }

.buscador input[type="text"] {
  padding: 10px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #214252;
  box-sizing: border-box;
  }
  .buscador button {
    padding: 10px 20px;
    background-color: #214252;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0; /* Bordes redondeados solo a la derecha */
    cursor: pointer;
  }
  /* Agrega estos estilos al final de tu archivo CSS */
.menu {
  display: none;
}

.menu.active {
  display: flex;
  flex-direction: column;
  background-color: white; /* Cambia el color de fondo según tu diseño */
  color: #adecf7;
  position: fixed;
  top: 0;
  left: 0; /* Alinea la barra de menú a la izquierda */
  bottom: 0;
  width: 246px; /* Ajusta el ancho según tu diseño */
  padding-top: 50px; /* Espacio para evitar que se solape con el reproductor */

  /*position: absolute;
  /*top: 50px; /* Ajusta la posición según tu diseño */
  /*right: 20
  px; /* Ajusta la posición según tu diseño */
}

.menu a {
  color:rgb(106, 104, 104);
  padding: 18px;
  text-decoration:#0799B6;
}

.menu a:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el ratón */
}
#botonCerrar {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
  color: rgb(192, 190, 190); /* Cambia el color del icono a blanco */
}



/* Ajusta la posición del icono según tu diseño */
#botonCerrar {
  position: absolute; /* Posición absoluta para colocar en una esquina */
  top: 15px; /* Ajusta la posición desde la parte superior */
  right: 15px; /* Ajusta la posición desde la derecha */
}
#iconoMenu {
  background-color: #214252; /* Cambia el fondo del icono del menú */
  color: white; /* Cambia el color del icono del menú */
  padding: 10px; /* Ajusta el espaciado alrededor del icono */
  border-radius: 50%; /* Hace que el fondo tenga bordes redondeados */
  font-size: 24px; /* Tamaño del icono del menú */

}

.menu-toggle {
  display: none;
  /*color: white;*/
  font-size: 24px; /* Tamaño del icono de cierre */
  cursor: pointer;
}

.menu-toggle.active {
  display: block;
}

.player {
    transform: scale(0.6);
}

@media screen and (min-width: 1200px) {
    .player {
        transform: scale(0.8);
        right: -20px;
    }
}

#resultadosNoEncontrados { 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 5cm; /* Establece la altura en 5 centímetros */ 
  font-size: 40px; 
  font-family: sans-serif;
   padding: 20px; max-width: 100%; /* Ancho máximo del 100% para que se ajuste al ancho de la pantalla */ 
   margin: 0 auto; color: white; 
  } 
   #icono { 
    font-size: 80px; color: #ff5733; 
  }
    #texto { 
      margin-top: 10px; color: white; 
   } /* Media query para ajustar estilos en pantallas pequeñas */
   @media (max-width: 768px) { 
    #resultadosNoEncontrados { 
     font-size: 30px; /* Disminuye el tamaño del texto en pantallas pequeñas si es necesario */ 
     padding: 10px; /* Reduce el espacio interno en pantallas pequeñas si es necesario */ } 
     #icono { 
      font-size: 60px; /* Disminuye el tamaño del icono en pantallas pequeñas si es necesario */ }
     }

/*.mensaje-emergente {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px #ccc;
}
.mensaje-emergente button {
  margin-top: 10px;
}*/
#mensajeAdvertencia {
  color: rgb(5, 5, 5);
  font-size: 12px;
  margin-top: 5px; /* Puedes ajustar este valor según tu diseño */
  display: none;
}
